<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="margin-bottom: 0.5em;">Reset your password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="app-full-width">
                <input id="password" [type]="hide ? 'password' : 'text'" name="password" matInput formControlName="password" placeholder="New password"/>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="app-full-width">
                <input id="confirmPassword" [type]="hide_2 ? 'password' : 'text'" name="confirmPassword" matInput formControlName="confirmPassword" placeholder="Confirm password" required/>
                <button mat-icon-button matSuffix (click)="hide_2 = !hide_2" [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide_2" type="button">
                    <mat-icon>{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessageConfirmPassword()}}</mat-error>
            </mat-form-field>
        </mat-card-content>
        <div *ngIf="error" style="color: red; margin: auto;">{{ error }}</div>
        <mat-card-actions class="app-center">
            <button id="submit" type="submit" mat-button [disabled]="disabled_button">Reset password</button>
        </mat-card-actions>
        <p *ngIf="message" style="font-size: 20px;margin: 1em;">{{ message }}</p>
    </mat-card>
</form>
<a routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page" class="link">Remember your password ? Login here</a>