.container{
    position: sticky;
    top: 0;
    z-index: 2;
}

.mat-button {
    padding-left: 0;
    padding-right: 0;
}

.text-button {
    min-width: 100px;
    font-size: large;
    vertical-align: baseline;
    text-align: center;
}

.icon-button {
    min-width: 50px;
    width: 5%;
}

.mat-icon {
    transform: scale(1.3);
}
.sep {
    width: initial;
}