<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <h1>Forgot password</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="app-full-width">
                <input id="mail" type="text" name="mail" matInput formControlName="mail" placeholder="Mail"/>
                <mat-error *ngIf="mail.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="app-center">
            <button id="submit" type="submit" mat-button style="text-align: center;" [disabled]="disabled">Reset password</button>
        </mat-card-actions>
        <div class="app-center">
            <mat-spinner *ngIf="disabled" diameter="50" style="margin-bottom: 0.7em;"></mat-spinner>
            <p *ngIf="message" style="font-size: 20px; margin: 1em; text-align: center;">{{ message }}</p>
        </div>
    </mat-card>
</form>
<a routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page" class="link">Remember your password ? Login here</a>